<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Manager</title>
    
    <link rel="stylesheet" href="{{url_for('static',filename="style.css")}}">

  </head>

  <body>
    <h1>TaskFlow</h1>

    <h3 id="stats">Loading...</h3>

    <div class="filter-buttons">
      <button onclick="loadTasks('all')">All</button>
      <button onclick="loadTasks('completed')">Completed</button>
      <button onclick="loadTasks('pending')">Pending</button>
    </div>

    <br>

    <!-- Add task -- JS function call -->
    <div class="add-task">
      <input type="text" id="task-input" placeholder="Enter new task">
      <button onclick="addTask()">Add Task</button>
    </div>

    <!-- Task list -->
    <ul id="task-list">
      Loading...
    </ul>

    <script src="{{url_for('static',filename='app.js')}}"></script>
  </body>
</html>
